#memory{
	background:#123;
	border:#999 1px solid;
	width:800px;
	height:540px;
	margin:0px auto;
}
#memory > div{
    background: url(assets/538-5384251_animated-question-marks-question-mark-card-clipart.png) no-repeat center;
    background-size: 111px 111px;
	border:#000 1px solid;
	width:71px;
	height:71px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
	cursor:pointer;
	text-align:center;
}